<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>appAnimationsToggle</string>
            <key>label</key>
            <string>Enable App Animations</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>advancedToggle</string>
            <key>id</key>
            <string>advancedToggle</string>
            <key>label</key>
            <string>Advanced</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>SDAppList</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Excluded Apps</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string> &lt; Faster | Slower &gt; </string>
            <key>label</key>
            <string>Simple speed slider (1.00)</string>
			<key>id</key>
            <string>simpleHeader</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <key>1</key>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>simpleSpeed</string>
            <key>id</key>
            <string>simpleSpeedHide</string>
            <key>max</key>
            <string>2.0</string>
            <key>min</key>
            <string>0.00</string>
            <key>showValue</key>
            <true/>
        </dict>
		<dict>
			<key>PostNotification</key>
			<string>alias20.speedy/preferencesChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>alias20.speedy</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>durationSlider</string>
			<key>id</key>
			<string>durationSliderHide</string>
			<key>label</key>
			<string>Duration Multiplier</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>label</key>
            <string></string>
			<key>id</key>
			<string>footerHide</string>
			<key>footerText</key>
			<string>
Animations in Settings app wont update fully until its closed from the appswitcher and then reopened!

Each value selected is times by the animations default value.
Default value is 1.0.

Duration(smaller number is faster):
The total time of the animation.

Damping:
The speed at which the animation stops.

Velocity:
The speed at which the animation starts.

Stiffness:
Chages the duration of the the animation stopping

Mass:
The weight of the spring animation when its at the end of the spring animation.
			</string>
        </dict>
		<dict>
			<key>PostNotification</key>
			<string>alias20.speedy/preferencesChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>alias20.speedy</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>VelocitySlider</string>
			<key>id</key>
			<string>velocitySliderHide</string>
			<key>label</key>
			<string>Velocity</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>alias20.speedy/preferencesChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>alias20.speedy</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>stiffnessSlider</string>
			<key>id</key>
			<string>stiffnessSliderHide</string>
			<key>label</key>
			<string>Stiffness</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>alias20.speedy/preferencesChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>alias20.speedy</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>massSlider</string>
			<key>id</key>
			<string>massSliderHide</string>
			<key>label</key>
			<string>Mass</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>alias20.speedy/preferencesChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>alias20.speedy</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>dampingSlider</string>
			<key>id</key>
			<string>dampingSliderHide</string>
			<key>label</key>
			<string>Damping</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
				<string>1.9</string>
				<string>2.0</string>
				<string>2.2</string>
				<string>2.4</string>
				<string>2.8</string>
				<string>3.0</string>
				<string>4.4</string>
				<string>5.4</string>
				<string>6.4</string>
				<string>8.4</string>
				<string>10.0</string>
			</array>
			<key>footerAlignment</key>
            <integer>0</integer>
			<key>footerText</key>
			<string>
Animations in Settings app wont update fully until its closed from the appswitcher and then reopened!

Each value selected is times by the animations default value.
Default value is 1.0.

Duration(smaller number is faster):
The total time of the animation.

Damping:
The speed at which the animation stops.

Velocity:
The speed at which the animation starts.

Stiffness:
Chages the duration of the the animation stopping

Mass:
The weight of the spring animation when its at the end of the spring animation.
			</string>
		</dict>
	</array>
	<key>title</key>
	<string>App Animations</string>
</dict>
</plist>