<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>label</key>
            <string>Disables all Springboard animations</string>
        </dict>
        <dict>
			<key>PostNotification</key>
			<string>alias20.speedy/preferencesChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>alias20.speedy</string>
			<key>key</key>
			<string>kDisableAllAnimations</string>
			<key>label</key>
			<string>Disable All Animations</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string> &lt; Faster | Slower &gt; </string>
            <key>label</key>
            <string>App Open and Close/ Appswitcher Speed (0.33)</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>appOpenCloseEnabled</string>
            <key>label</key>
            <string>Enable</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <key>0.33</key>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>appOpenCloseSlider</string>
            <key>max</key>
            <string>1.0</string>
            <key>min</key>
            <string>0.00</string>
            <key>showValue</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string> &lt; Faster | Slower &gt; </string>
            <key>label</key>
            <string>Screen Wake/Sleep Speed (0.20)</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>screenWakeSleepEnabled</string>
            <key>label</key>
            <string>Enable</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <key>0.20</key>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>screenWakeSleepSlider</string>
            <key>max</key>
            <string>0.30</string>
            <key>min</key>
            <string>0.00</string>
            <key>showValue</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string> &lt; Slower | Faster &gt; </string>
            <key>label</key>
            <string>Folders (1.00)</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>folderEnabled</string>
            <key>label</key>
            <string>Enable</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <key>1</key>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>folderSlider</string>
            <key>max</key>
            <string>10</string>
            <key>min</key>
            <string>1</string>
            <key>showValue</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string> &lt; Slower | Faster &gt; </string>
            <key>label</key>
            <string>Unlock Coversheet (1000)</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>unlockCoverSheetEnabled</string>
            <key>label</key>
            <string>Enable</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>alias20.speedy/preferencesChanged</string>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <key>1000</key>
            <key>defaults</key>
            <string>alias20.speedy</string>
            <key>key</key>
            <string>unlockCoverSheetSlider</string>
            <key>max</key>
            <string>1000</string>
            <key>min</key>
            <string>0</string>
            <key>showValue</key>
            <true/>
        </dict>
	</array>
	<key>title</key>
	<string>SpringBoard</string>
</dict>
</plist>
